@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');
html{
    height: 100%;
    width: 100%;
}

.white{
    color: #fff;
}

body{
    margin: 0;
    padding: 0;
    background-color:black ;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
    color:#fff;
}

.music{
    position: fixed;
    top: 30px;
    left: 30px;
    
}

.headphones{
    animation: moverLeft 1.5s ease;
}

.nomostrar{
    display: none;
}

.mostrar{
    display: initial;
}


.neon{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    font-size: 10em ;
    text-shadow:  0 0 20px red;
}


.neon::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left:0;
    padding: 0 20px;
    z-index: -1;
    color:red;
    filter: blur(15px);
}

.neon:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a4a;
    z-index: -2;
    opacity: .5;
    filter: blur(50px);
}


@keyframes moverLeft{
    0%{
        opacity: 0;
        transform: translatex(-100px);
    }
    100%{
        opacity: 1;
        transform: translatex(0);
    }
}







@media (max-width: 575.98px) { 
    .neon{
        font-size: 5em ;
    }
 }